<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>자동차 정보 수정</h1>
    <p>(ID: <%=car._id %>)</p>
    <form action="/car/modify" method="post">
        <input type="hidden" name="id" value="<%=car._id %>">
        <table>
            <tr>
                <th>차종</th>
                <td><input type="text" name="name" value="<%=car.name %>"></td>
            </tr>
            <tr>
                <th>가격</th>
                <td><input type="text" name="price" value="<%=car.price %>"></td>
            </tr>
            <tr>
                <th>메이커</th>
                <td><input type="text" name="company" value="<%=car.company %>"></td>
            </tr>
            <tr>
                <th>연식</th>
                <td><input type="text" name="year" value="<%=car.year %>"></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="저장"></td>
            </tr>
        </table>
    </form>
</body>
</html>