<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>index</title>
    </head>
    <body>
        <h1>파일 업로드 결과</h1>
        <hr/>
        <p>원본 파일명: <%=result.originalname %> 
            -> 저장 파일명: <%=result.filename %></p>
        <p>MIME TYPE: <%=result.mimetype %></p>
        <p>파일 크기: <%=result.size %></p>
        <p>작성자: <%=result.writer %></p>
        <p>설명: <%=result.comment %></p>
        <p><img src="/uploads/<%=result.filename %>" ></p>
    </body>
</html>